.category-container{
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-category-color);
    color: white;
    display: block;
    flex-direction: column;
}

.form-dialogue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* border-bottom: 1px solid var(--text-black-color); */
    padding: 0 20px;
    /* background: #bccded; */
    box-shadow: var(--box-shadow-bottom);
}
.fd-buttons{
    display: flex;
    align-items: center;
    gap: 20px;

}
.fd-contained-btn.MuiButtonBase-root{
    background: var(--lighter-bg-color);
    color: var(--text-black-color);
    width: 150px;
    box-shadow: var(--box-shadow);
}
.fd-contained-btn.MuiButtonBase-root:hover{
    background: var(--lighter-bg-color);
    color: var(--text-black-color);
    width: 150px;
    box-shadow: var(--box-shadow);

}
.css-1ouwf98-MuiButtonBase-root-MuiButton-root.fd-btn{
    border-color: var(--button-category-color);
    color: var(--button-category-color);
    box-shadow: var(--box-shadow);
    
}
.css-1ouwf98-MuiButtonBase-root-MuiButton-root.fd-btn:hover{
    border-color: var(--button-category-color);
    color: var(--button-category-color);
}

.fd-table-container{
    margin-top: 80px;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-Grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sg-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.MuiButton-root.sg-buttons-btn{
    background: #343e8b;
    color: white;
    width: 150px;
    font-family: var(--font-family);
}

.sg-input{
    width: 400px;
    color: var(--text-black-color)!important;
    border-color: var(--button-category-color)!important;
}

.sg-input .MuiOutlinedInput-root fieldset{
    color: var(--text-black-color)!important;
    border-color: var(--button-category-color)!important;
    box-shadow: var(--box-shadow);

}
.sg-input .MuiOutlinedInput-root:hover fieldset{
    border-width: 2px;
}


.sg-input-icon{
    color: var(--text-black-color);
}

.fdm-header{
    font-size: 25px;
    color: white;
    text-align: center;
}

.fdm-form{
    flex: 1;
    background: transparent;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fdmf-top{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 20px;
}
  
.fdmf-right{
    flex: .5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fdmf-left{
    flex: .5;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.fdmf-buttons{
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.fd-tc-box{
    height: 787px;
    width: 100%;
    /* background-color: var( --grid-bg-color); */
    background: white;
    border-radius: 4px;
    color: var(--text-category-black-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.fd-tc-b-header{
    background: var(--lighter-bg-color);
    font-size: 24px;
    font-weight: bolder;
    color: var(--text-black-color);
}


@media screen and (max-width:820px) {
    .fdmf-top{
        flex-direction: column;
        gap: 10px;
    }
    .fdmf-right,.fdmf-left{
        flex: 1;
    }
}