.none {
    display: none;
}

.sidebar-container {
    background: #202123;
    height    : 100vh;
    position  : fixed;
    z-index: 50;
    left      : 0;
    top       : 0;
    overflow: hidden;
    transition: all .2s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 15vw;
}



.sidebar-container.close {
    position: fixed;
    top: 0;
    left: -16vw;
    background: transparent;
}

.sidebar-container.close .MuiButtonBase-root.sc-headers-iconButton {
    background: #ffffff;
    color: #202123;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container.close .MuiButton-root.sc-headers-button {
    visibility: hidden;
}

.sc-headers {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.MuiButtonBase-root.sc-headers-button {
    flex: 1;
    font-size: 1.1rem;
    color: white;
    border-color: grey;
}

.MuiButtonBase-root.sc-headers-iconButton {
    border: 1px solid grey;
    border-radius: 4px;
    color: white;
    transition: all .5s ease-in;
}
.MuiButtonBase-root.sc-headers-iconButton.abs {
    box-shadow: var(--box-shadow);
    background: #ffffff;
    color: #202123;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 20px;
}

.sc-main {
    flex: .98;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: 5px;
    border-bottom: 1px solid grey;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sc-main::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

.sc-main::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 6px;
}


.sc-main-list {
    width: 100%;
    color: white;

}

.MuiListSubheader-root.sc-main-list-subheader {
    background: transparent;
    color: white;
    font-size: 12px;
}

.MuiListItemButton-root.sc-main-list-item {
    border-radius: 6px;
}
.MuiListItemButton-root.sc-main-list-item.active {
    background: #343541;
}

.MuiListItemIcon-root.sc-main-list-item-icon {
    min-width: 0;
    margin-right: 10px;
}

.sc-main-list-icon {
    color: white;
}

.MuiListItemText-root.sc-main-list-item-text{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sc-footer {
    width: 100%;
    padding: 0;
}

.css-h4y409-MuiList-root.sc-footer-list {
    width: 100%;
    color: white;
    padding: 0;
}

.MuiListItem-root.sc-footer-list-item-img {
    min-width: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: rgb(160, 160, 5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiListItemIcon-root.sc-main-list-item-icon.visible.none{
    display: none;
}


@media screen and (max-width:1320px) {
    .sidebar-container {
        width: 20vw;
    }

    .sidebar-container.close {
        left: -25vw;
    }
}
@media screen and (max-width:1024px) {
    .sidebar-container {
        width: 20vw;
    }
    
    .sidebar-container.close {
        left: -25vw;
    }
    .MuiButtonBase-root.sc-headers-button {
        font-size: .8rem;
        height: 40px;
    }
}
@media screen and (max-width:860px) {
    .sidebar-container {
        width: 23vw;
    }

    .sidebar-container.close {
        left: -30vw;
    }
}
@media screen and (max-width:820px) {
    .sidebar-container {
        width: 30vw;
    }

    .sidebar-container.close {
        left: -35vw;
    }
}


@media screen and (max-width:680px) {
    .sidebar-container {
        width: 40vw;
    }

    .sidebar-container.close {
        left: -45vw;
    }
    .MuiButtonBase-root.sc-headers-button {
        font-size: .6rem;
        height: 40px;

    }
}

@media screen and (max-width:420px) {
    .sidebar-container {
        width: 60vw;
    }

    .sidebar-container.close {
        left: -65vw;
    }
}
