/* --------- RIGHT HERE -------------- */
/* .SidebarDev {
    color: var(--text-black-color);
    padding: 25px 20px;
    border-right: 0.5px solid var(--secondary-black-color);
    background-color: var( --bg-black-color);
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectFilesLabel, 
    .file-list-container, 
    #uploadLabel, 
    .second-list, 
    #sendServerLabel, 
    #logoutButton {
        width: 90%;
        box-sizing: border-box;
} */

/* ----------------------------------- */

.SidebarDev label {
    padding: 10px;
    padding-bottom: 12px;
    border-radius: 5px;
    /* margin-top: 50px; */
    border: 1px solid var( --lighter-bg-color);
    border-radius: 4px;
}

.SidebarDev label:hover {
    background-color: var( --lighter-bg-color);
    color: var( --text-black-color);
}

.sidebar-button {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 25px 0px;
    color: var(--text-black-color);
}

#uploadLabel {
    background-color: #343e8b;
}

#uploadLabel button {
    width: 90%;
    margin: 0 auto;
}

#uploadLabel {
    background-color: #343e8b;
}

#uploadLabel button {
    width: 90%;
    margin: 0 auto;
}

#sendServerLabel {
    background-color: var( --lighter-bg-color);
}

#sendServerLabel button {
    width: 90%;
    margin: 0 auto;
}


#uploadLabel:hover {
    background-color: #202970;
}

#sendServerLabel:hover {
    background-color: #202970;
}

#listItem {
    border-bottom: 1px solid var(--secondary-black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-white-color);
}

#listItem:hover {
    background-color: var(--bg-black-color);
}

#deleteIcon {
    opacity: 0.7;
}

#deleteIcon:hover {
    opacity: 1;
}

/* @media (max-width: 1250px) {

    #sendBtn>span.text {
        display: none;
    }

    .sidebar-button .text {
        display: none;
    }

    #sendBtn>span {
        margin: 0;
        padding: 0;
    }

    #selectFilesLabel {
        margin: 0;
    }

    #selectFilesLabel>span>span {
        margin: 0;
    }
} */

/* @media (max-width: 900px) {

    .SidebarDev {
        display: none;
    }

    label#sendServerLabel {
        margin: 2.5%;
    }


    .sidebar-button .text {
        display: none;
    }

    #selectFilesLabel>span {
        padding: 20px;
        margin: 0 4.4%;
    }

    #selectFilesLabel {
        background-color: transparent;
    }


    .sidebar-button {
        padding: 15px;
        margin: 15px;
    }

    #selectFilesLabel {
        margin: 0 auto;
        padding: 0;
        border: none;
        margin-left: 5px;
    }

    #sendServerLabel #sendBtn {
        border: none;
    }

    #sendBtn {
        background-color: none;
        border: none;
    }
} */
.hg-icon{
    margin: 0;
    padding: 0;
    color: var(--text-black-color);
}
.file-list-container {
    max-height: 30%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: wrap;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid var( --lighter-bg-color);
    background-color: var( --secondary-black-color);
    border-radius: 5px;
    padding: 7.5px;
    width: 92%;
}

.second-list.file-list-container {
    border: 1px solid var( --lighter-bg-color);
    border-radius: 5px;
    padding: 7.5px;
    background-color: var( --secondary-black-color);
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 200px;
}


#listItem {
    display: flex;
    align-items: center;
}

#listItemPrimaryText {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style for checkbox and delete icon */
#listItemSecondaryAction {
    /* Add your desired styles for checkbox and delete icon */
    /* Example styles, you can adjust these as needed */
    display: flex;
    align-items: center;
    margin-right: -90%;
    display: flex;
    gap: 8px;
}

/* setting panel style */
.uploaded-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    background: var(--secondary-black-color);
    border-radius: 8px;
    /* Radial gradient from black to gray */
    box-shadow:   0 2px 5px #000;
    /* Dark drop shadow */
}

.settings-panel {
    position: fixed;
    width: fit-content;
    display: none;
    top: 35px;
    /* Adjust as needed */
    right: 0px;
    /* Adjust as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 500000;
    border-radius: 5px;
}

.settings-panel.open {
    display: flex;
    flex-direction: column;
}

.settings-panel.close {
    display: none;
}

.setting-items:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 3px;
}

/* setting panel style */











/* Media query for small screens (adjust the breakpoint as needed) */
/* @media (max-width: 989px) {

    #listItem {
        flex-direction: column;
        align-items: flex-start;
    }

    #listItemPrimaryText {
        white-space: normal;
        overflow: visible;
        text-overflow: inherit;
    }

    #listItemSecondaryAction {
        margin-top: 4px;
        margin-right: -90%;

    }

    @media (max-width: 1500px) {
        #listItemPrimaryText {
            font-size: 12px;
        }

        #listItemSecondaryAction#checkIcon {
            width: 20px;
            height: 20px;
        }
    }

    .hamburger-icon {
        display: none;
        color: var(--text-black-color);
        margin: 0;
        padding: 5px;
        border-radius: 0;
        background: var(--lighter-bg-color);
    }

    .SidebarDev.closed {
        width: 0;
        overflow: hidden;
    }

    @media (max-width: 900px) {

        .hamburger-icon {
            display: block;
        }

        .SidebarDev {
            display: none;
        }

        .SidebarDev.open {
            display: block;
            width: 100%;
        }

        .file-list-container {
            max-height: 75%;
            margin-bottom: 25px;
        }

        #listItemSecondaryAction {
            margin-right: -90%;
        }

        #listItemSecondaryAction>span {
            flex-direction: row;
        }

    }

    #root>div>div>div>div.SidebarDev.open>div+#root>div>div>div>div.SidebarDev.open>div>ul {
        margin: 0;
        padding: 0;
        width: 90%;
    }

    @media (min-width: 900px) {
        #listItemPrimaryText {
            color: red;
            background-color: #fff;
            margin-left: 35%;
            font-size: small;
        }

        #listItemPrimaryText>span {
            font-size: 6px;
            font-size: small;
            word-wrap: break-word;
        }
    }

} */

/* Mouad Doadi - 21/09/23 > */

#summarizeIcon {
    color: white;
    opacity: 0.5;
}

#summarizeIcon:hover {
    opacity: 1;
}

#viewIcon {
    color: white;
    opacity: 0.5;
}

#viewIcon:hover {
    opacity: 1;
}

.li-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* this ensures vertical alignment */
    width: 100%;
    /* or set a fixed width if preferred */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.icon-container {
    display: flex;
    gap: 1px;
    /* or any preferred gap between icons */
}


#logoutButton {
    background-color: var( --lighter-bg-color);
    width: 15%;
    padding: 0.1px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0 5px 0 0;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    display: flex;
}

#logoutButton:hover {
    background-color: #252f79;
    cursor: pointer;
}

#logoutButton button {
    color: white;
    padding: 10px 57%;
}

#SidebarDev, #logoutButton button {
    width: 100%;
}

/* < 21/09/23 */

/* Mouad Doadi - 25/09/23 > */

/* @media (max-width: 768px) {

    .SidebarDev{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .file-list-container{
        margin: 10px auto;
    }

    
} */

/* @media (max-width: 768px) {
    .SidebarDev {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #selectFilesLabel, 
    .file-list-container, 
    #uploadLabel, 
    .second-list, 
    #sendServerLabel, 
    #logoutButton {
        width: 90%;
        box-sizing: border-box;
    }


    #selectFilesLabel, #uploadLabel, #sendServerLabel{
        width: 90%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */

/* Mouad Doadi - 26/09/23 > */

.SidebarDev {
    color: white;
    padding: 25px 20px;
    border-right: 0.5px solid #3a3a3a;
    background-color: #121212;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

#selectFilesLabel, 
    .file-list-container, 
    #uploadLabel, 
    .second-list, 
    #sendServerLabel{
        width: 90%;
        box-sizing: border-box;
}

#selectFilesLabel, #uploadLabel, #sendServerLabel{
    display: flex;          /* Turn this into a flex container */
    justify-content: center; /* Center the child items horizontally */
    align-items: center; 
}

#logoutButton{
    width: 50%;
}

@media (max-width: 900px) {
    .SidebarDev, #logoutButton{
        width: 100%;
    }



}


/* < */